:root {
    --primary-color: rgb(152, 152, 255);
}

body {
    margin: auto;
    background-color: lightgrey;
}

header, nav {
    max-width: 99rem;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
    
}
header {
    background-color: white;
    color: black;
}

nav {
    padding: 1rem;
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.leftside {
    border-left: solid white 2px;
}

nav a:hover {
    color: darkgrey;
    margin: 0;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}
